@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #009841;
  --color-primary-light: #00a847;
  --color-primary-dark: #00853a;

  --color-secondary: #00222B;
  --color-secondary-light: #00303d;
  --color-secondary-dark: #00141a;

  --color-warm-white: #FFFBEF;
  --color-pure-white: #FFFFF7;
}

/* Estilos base */
body {
  @apply bg-warm-white text-secondary;
  font-family: 'Inter', sans-serif;
}

/* Componentes personalizados */
.btn-primary {
  @apply bg-primary text-pure-white hover:bg-primary-dark transition-colors duration-300;
}

.card {
  @apply bg-pure-white rounded-lg shadow-md border border-gray-100;
}
